<img src="{{ album.logo }}" alt="No se pudo amigo" height="300">
<h1>Title: {{ album.title }}</h1>
<h2>Artist: {{ album.artist }}</h2>
<h3>Track List</h3>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="/music/{{ album.id }}/favorite/" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ forloop.counter }}. {{ song.title }}
            {% if song.favorite %}
                <img height="10" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPVK6hDYgkOtPI4okfoIEUA30Ti82jpMmWLRI7GsA1WjB_4RLzsA">
            {% endif %}
        </label><br>
    {% endfor %}
    <br>
    <input type="submit" value="Favorite">
</form>
<a href="/music/">Return</a>