{% if albums %}
    <h2>List of all albums</h2>
    <ul>
        {% for album in albums %}
            <li><a href="/music/{{ album.id }}/">{{ album.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You have no albums yet</h3>
{% endif %}